@{
    ViewData["Title"] = "Contacto";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <br />
    <br />
    <abbr title="Telefono">P:</abbr>
    
</address>

<address>
    <strong>Soporte:</strong> <a href="mailto:VLSuarez@teco.com.ar">Vale Suarez</a><br />
    <strong>Soporte:</strong> <a href="GERuizAsis@teco.com.ar">Ruiz Gustavo</a><br />
</address>
